body{
    font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
}
.focus-area{
    display: flex;
}

.focus-item{
    width: 50%;
}
.focus-item h1{
    font-size: 50px;
    border-left: 4px solid tomato;
}
 span{
    color: tomato;
}
.intro{
    margin: 3%;
    padding: 4% 2% ;
}
.button{
    text-decoration: none;
    padding: 4px 3px;
    background-color: tomato;
    color: white;
}
.focus-item img{
    width: 100%;
    height: fit-content;
}
.mission-area{
    display: flex;
    margin: 2% 2%; 
}
#mission-header{
    font-size: 60px;
    text-align: center;
}
.mission-item{
    width: 30%;
    padding: 3% 4%;
    font-size: 12px;
    border-radius: 15%;
    margin: 2%;
}
.mission-item img{
    width: auto;
    height: 10em;
}
.mission{
    background-color: lightblue;
}
.vission{
    background-color: lightpink;
}
.goal{
    background-color: lightsalmon;
}